main {
  height: 100vh;
  background-color: darkcyan;
}

.formLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 280px;
}